{% extends 'base.html.twig' %}

{% block body %}
    <style>
        @font-face {
            font-family: "Architects Daughter";
            src: url("/fonts/ArchitectsDaughter-Regular.ttf") format("truetype");
        }
        .example-wrapper { margin: 1em auto;
            max-width: 800px; width: 95%;
            font: 18px/1.5 sans-serif; font-family: "Architects Daughter";
            border: 5px solid #34eb95; border-radius: 5px;
        }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }


        a{
            color:black;
        }


        .container{
            max-width:600px;
            margin:auto;
            background: #65b4db;
            padding:20px;
            box-sizing:border-box;
            box-shadow:0px 3px 6px rgba(0, 0, 0, 0.5);
            font-size:16px;
            border:1px solid #444;
            border-radius:3px;
            animation: 1.25s flyin ease;
            margin-top: 20px;
            font: 18px/1.5 sans-serif; font-family: "Architects Daughter";
        }

        .crud{
            position: relative;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
        }

        @keyframes flyin{
            from{ transform: translateY(100%); opacity:0; }
        }

    </style>
    <div class="container">
    <h1> {{ article.titre }}</h1>
    <h2> {{ article.datePublication | date("d/m/Y H:i") }}</h2>
    <h2> {{ article.contenu }}</h2>
    </div>
    <div class="crud">
    <a href="{{ path('articles_update', {"article": article.id}) }}">Modifier</a>
    <a href="{{ path('articles_delete', {"article": article.id}) }}">Supprimer</a>
    </div>
{% endblock %}

{% block title %}

        Article {{ article.titre }}



{% endblock %}