{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <ul>
        {% for title in titles %}
            <li>{{ title }}</li>
        {% endfor %}
    </ul>
    <p>{{ message }}</p>
{% for article in articles %}
    <h2>{{ article.titre }}</h2>
{% endfor %}
{% endblock %}
