{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <h1>Page de recherche</h1>
    {{ form(searchForm) }}

    {% for article in articles %}
        <h2>{{ article.titre }}</h2>
    {% endfor %}
{% endblock %}