<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            @font-face {
                font-family: "Architects Daughter";
                src: url("/fonts/ArchitectsDaughter-Regular.ttf") format("truetype");
            }
            .example-wrapper { margin: 1em auto;
                max-width: 800px; width: 95%;
                font: 18px/1.5 sans-serif; font-family: "Architects Daughter";
                border: 5px solid #34eb95; border-radius: 5px;
            }
            .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }


            a{
                color:black;
            }


            .container{
                max-width:600px;
                margin:auto;
                background: #65b4db;
                padding:20px;
                box-sizing:border-box;
                box-shadow:0px 3px 6px rgba(0, 0, 0, 0.5);
                font-size:16px;
                border:1px solid #444;
                border-radius:3px;
                animation: 1.25s flyin ease;
                margin-top: 20px;
                font: 18px/1.5 sans-serif; font-family: "Architects Daughter";
            }

            .container2{
                font-size: 100px;
                text-shadow:2px 2px rgba(0, 0, 0, 0.5);
                color: #65b4db;
                display: flex;
                justify-content: center;
            }

            li {
                list-style-type: none;
            }



            @keyframes flyin{
                from{ transform: translateY(100%); opacity:0; }
            }

        </style>

    </head>
    <body>

    <h1 class="container2">Weurd</h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
